@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
html, body {
    height: 100%;
}
html, body {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #121212;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main {
    flex: 1 0 auto;
}

.releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.release {
    width: 250px;
    margin: 10px;
    /*background-color: #123518;*/
}

.release img {
    width: 250px;
    height: 350px;
    transition: .5s ease;

}

@media screen and (max-width: 768px) {
.release {
    width: 150px;
}
.release img {
    width: 150px;
    height: 210px;
}
}

.release:hover img {
    /*transform: scale(0.99, 0.99);*/
    -webkit-filter: saturate(175%);
}

.release-info { 
    text-align: center;
    /*background-color: #875618;*/
}

.release-title {
    font-size: 20px;
    color: white;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.release-category {
    font-size: 15px;
    color: #ffc4d0;
    font-family: 'Inter', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Шапка//////////////////////////////////////////// */
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #060606;
}

.header a {
    color: #fff;
    text-decoration: none;
    font-size:15px;
    width: 150px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: .3s ease;
}
.header img {
    max-height:40px;
}

.header a:hover {
    background-color: #db2e52;
    color: white;
}
.logo {
    background-color: #db2e52;
    order: 2;
}
.team {
    order: 1;
}
.donats {
    order: 3;
}
.burger {
    order: 4;
    display: none;
}

@media screen and (max-width: 600px) {
.header {
    flex-direction: column;
}

.nav-bar {
    display: none;
}
.active {
    background-color: #060606;
}
.header a:hover {
    background-color: #060606;
}
.logo {
    display: none;
    order: 2;
}
.burger {
    display: block;
    order: 1;
}
.team {
    display: none;
    order: 3;
}
.donats {
    display: none;
    order: 4;
}
/* Мобильное меню */
.header.responsive .logo {
    display: block;
    order: 2;
}
.header.responsive .burger {
    order: 1;
}
.header.responsive .team {
    display: block;
    order: 3;
}
.header.responsive .donats {
    display: block;
    order: 4;
}
}


/* Страница аниме: релиз */
.anime-shapka {
    margin: 0 auto;
    height: 350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.anime-shapka img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.anime-page {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

}
.anime-page-left {
    /*background-color: blue;*/
    width: 250px;
    margin-right: 35px;
}

@media screen and (max-width: 600px) {
.anime-page-left {
    display: none;
}
}

.anime-poster {
    margin-top: -150px;
    width: 250px;
    height: 350px;
    box-shadow: 0px -4px 25px 0px rgba(0, 0, 0, 0.5);
    /*margin: 0px 5px 5px 10px;*/
    border-radius: 5px 5px 5px 5px;

}
.anime-poster img {
    width: inherit;
    height: inherit;
    border-radius: 5px 5px 5px 5px;
}

.anime-page-right {
    padding: 0 10px;

}
.anime-info {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #b1b1b1;
    padding: 10px;
}

.anime-info p {
    margin-top: -13px;

}
.anime-info h1 {
    margin-top: -13px;
    color: #e1e1e1;
}
.fcpa {
    color: orange;
}
.anime-player {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
    padding-bottom: 50.5%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.anime-player iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 25px;
}

.anime-timing-and-actor {
    text-align: right;
    color: white;
}
.anime-timing-and-actor img {
    width: 250px;
}


/* Страница Поддержки*/

.banner-donats-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: 600px;
    padding-top: 120px;
    background-image: url(../img/anime-girl-donats-page.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.donats-page-info {
    width: 400px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}
.donats-page-card {
    text-align: right;
    margin-left: 15%;
    ;
}

@media screen and (max-width: 1400px) {
    .banner-donats-page {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    justify-content: center;
    padding: 25px;
    background-image: url(../img/background-donats-page.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto; 100%; 
}
    .donats-page-info {
    width: 100%;
    margin-left: 0px;
}
    .donats-page-card {
    width: 100%;
    text-align: left;
    margin-left: 0px;
}
}
.donats-page-card p {
    margin: 0;
    color: white;
}
.donats-page-card a {
    text-decoration: none;
}

.donats-page-card img {
    width: 250px;
}
.donats-page-card button {
    background-color: #db2e52;
    min-width: 200px;
    padding: 8px 16px;
    border: 0;
    border-radius: 0;
    transition: .2s ease;
}
.donats-page-card button:hover {
    background-color: #a91c3a;
}

/* Podval */
.footer {
    background-color: #121212;
    text-align: center;
    padding: 15px;
    color: white;
    bottom: 0;
}
.footer p {
    font-size: 12px;
    padding: 3px;
    margin: 0;
}
.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    /*width: 100%;*/
}

.fa:hover {
    -webkit-filter: saturate(200%);
    color: white;
}
/* VK */
.fa-vk {
    color: white;
}

/* Telegram */
.fa-telegram {
    color: white;
}

/* E-Mail */
.fa-envelope {
    color: white;
}

/* Страница команды */
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-item {
    width: 200px;
    margin: 10px;
    transition: .5s ease;
}
.team-info {
    padding: 0 20px;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 20px;
}
.team-logo {
    padding: 0 10px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.line-team img {
    max-width: 90%;
    margin-left: -12px;
}
.team-item img {
    width: 200px;
}
.team-item:hover {
    transform: scale(0.9);
}
.team-page-fon {
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-image: url(../img/img-team/fon-team.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; 
}

.join-team {
    background-color: #2e73db;
    margin: 0 auto;
    display: flex;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 0;
    border-radius: 0;
    transition: .5s ease;
}
.join-team a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}
.join-team:hover {
    background-color: #0044aa;
}


/* Страница участника команды */
.kisik-page-fon {
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(0, 0, 31, 1), rgba(34, 101, 163, 0.2)), url(../img/img-team/fon-kisik.gif);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover; 
}
.tema-page-fon {
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    background: linear-gradient(to top, rgba(90, 0, 31, 1), rgba(34, 101, 163, 0.3)), url(../img/img-team/fon-tema.gif);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto; 
}
.personal-logo {
    width: 250px;
    height: 350px;
    margin: 0 auto;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: auto;
}
.specialization-fon {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 50px;
    background: url('../img/img-team/RAMKA-1.png') left/auto 100% no-repeat, url('../img/img-team/RAMKA-2.png') right/auto 100% no-repeat
}
.specialization-cur {
    padding: 0 10px;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}
.specialization {
    height: 70px;
    margin-top: 50px;
    margin-bottom: 15px;
    background-image: url(../img/img-team/specialization-logo.webp);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.line {
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background-image: url(../img/img-team/line-personal-page.webp);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
@media screen and (max-width: 500px) {
    .line {
    display: none;
    }
    .specialization {
    height: 20px;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 0px;
    }
}
.participant-info {
    padding: 0 20px;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

}

/* Участник проектов */
.release-participant-logo {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 540px;
    display: flex;
    justify-content: center;
}
.release-participant-logo img {
    width: 80%;
    padding: 20px;
}
.release-participant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
}
.release-participant-item {
    width: 150px;
    margin: 10px;
    transition: .5s ease;
}
.release-participant-item img {
    width: 150px;

}
.specialization-participant {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.specialization-participant-item {
    width: 300px;
    padding: 10px;
}
.specialization-participant-item img {
    width: inherit;
}
.specialization-participant-title {
    color: white;
    font-size: 30px;
    text-align: center;
}
.specialization-participant-description {
    color: white;
    font-size: 16px;
    text-align: center;
}

