/*@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Yanone+Kaffeesatz&display=swap');
html, body {
    height: 100%;
}
html, body {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url(../img/Eva-texture-bg.webp);
    background-size: 40%;
    box-sizing: border-box;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main {
    flex: 1 0 auto;
}

/* Шапка//////////////////////////////////////////// */

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 1;
}

.menu {
    width: 130px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.logo-menu {
    width: 130px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.logo-menu img {
    max-height:40px;
}

@media screen and (max-width: 600px) {
.header {
    padding-top: 15px;
    padding-bottom: 5px;
}
.logo-menu img {
    max-height:30px;
}
.menu img {
    height: 30px;
}
.menu {
    width: 120px;
}
.logo-menu {
    width: 100px;
}
.release-title {
    font-size: 15px;
    }
}

/*Главная страница*/
.releases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.release {
    width: 250px;
    margin: 10px;
    /*background-color: #123518;*/
}

.release img {
    width: 250px;
    height: 350px;
    transition: .5s ease;

}

@media screen and (max-width: 768px) {
.release {
    width: 150px;
}
.release img {
    width: 150px;
    height: 210px;
}
.release-title {
    font-size: 15px !important;
}
}

.release:hover img {
    /*transform: scale(0.99, 0.99);*/
    -webkit-filter: saturate(175%);
}
.release-info { 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
}
.release-title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 80%;
    height: 25px;
    margin: 10px 0px 10px 0px;
    background-color: #901834;
    border-radius: 7px 7px 7px 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.release-eng-title {
    color: #b1b1b1;
    font-size: 15px;
}


/* Страница аниме: релиз */

.anime-shapka {
    margin-top: -100px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}
.anime-shapka img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}
.anime-page {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    font-size: 25px;

}
.anime-page-left {
    /*background-color: blue;*/
    width: 250px;
    margin-right: 15px;
}

@media screen and (max-width: 600px) {
.anime-page-left {
    display: none;
}
.status {
    flex-direction: column;
}
}

.anime-poster {
    margin-top: -150px;
    width: 250px;
    height: 350px;
}
.anime-poster img {
    width: inherit;
    height: inherit;
}

.anime-page-right {
    padding: 0 20px;
}
.anime-name {
    margin-top: -90px;
    color: white;
}
.anime-name p {
    margin: 0;
}
.anime-name h1 {
    font-size: 60px;
    margin: 0;
    font-weight: normal;
}
.anime-info {
    font-size: 20px;
    color: #b1b1b1;
    padding-top: 15px;
}
.anime-info p {
    color: white;
    margin: 10px 0px 10px 0px;
}
.status {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.anime-player {
    display: flex;
    max-width: 1920px;
    position: relative;
    padding-bottom: 50.5%;   
    height: 0;
    margin-top: 25px;
    overflow: hidden;
    border-radius:25px 25px 25px 25px;
}

.anime-player iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.anime-timing-and-actor {
    text-align: right;
    color: white;
    padding-right: 20px;
}
.anime-timing-and-actor img {
    width: 200px;
}

.vkcomments {
    z-index:99;
    position:relative;
    padding-top: 25px;
}
.vkcommentstitl {
    z-index:100;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    background-color:#901834;
    width: 100%;
    height: 40px;
    color:#fff;
}

/* Страница Поддержки*/

.banner-donats-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    height: 600px;
    padding-top: 120px;
    background-image: url(../img/anime-girl-donats-page.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.donats-page-info {
    width: 400px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
    margin-left: 50px;
}
.donats-page-card {
    text-align: right;
    margin-left: 15%;
    ;
}

@media screen and (max-width: 1400px) {
    .banner-donats-page {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0;
    justify-content: center;
    padding: 25px;
    background-image: url(../img/background-donats-page.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto; 100%; 
}
    .donats-page-info {
    width: 100%;
    margin-left: 0px;
}
    .donats-page-card {
    width: 100%;
    text-align: left;
    margin-left: 0px;
}
}
.donats-page-card p {
    margin: 0;
    color: white;
}
.donats-page-card a {
    text-decoration: none;
}

.donats-page-card img {
    width: 250px;
}
.donats-page-card button {
    background-color: #db2e52;
    min-width: 200px;
    padding: 8px 16px;
    border: 0;
    border-radius: 0;
    transition: .2s ease;
}
.donats-page-card button:hover {
    background-color: #a91c3a;
}

/* Страница команды */
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.team-item {
    width: 200px;
    margin: 10px;
    transition: .5s ease;
}
.team-info {
    padding: 0 20px;
    flex-direction: row;
    text-align: center;
    color: white;
    font-size: 25px;
}
.team-logo {
    padding: 0 20px;
    padding-top: 30px;
    margin: 0 auto;
    width: 320px;
}
.team-logo img {
    max-width: 100%;
}
.team-item img {
    width: 200px;
}
.team-item:hover {
    transform: scale(0.9);
}
.team-page-fon {
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    background-image: url(../img/img-team/fon-team.webp);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover; 
}

.join-team {
    width: 350px;
    background-color: #2e73db;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 25px;
    transition: .5s ease;
}
.join-team a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}
.join-team:hover {
    background-color: #0044aa;
}

/* Podval */
.footer {
    text-align: center;
    padding: 15px;
    color: white;
    bottom: 0;
}

.footer p {
    font-size: 15px;
    padding: 3px;
    margin: 0;
}
.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
}
.fa-brands {
    color: white;
    padding: 10px;
}
/*.fa-telegram {
    color: white;
}*/